<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-stric.dtd>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Risk</title>
	</head>
	<body>
		<article>
			<section>
				<hgroup>
					<h1>Account Receivable</h1>
				</hgroup>
{% if receivables %}
				<ul>
{% for receivable in receivables %}
					<li>{{ receivable.value }} &mdash; {{ receivable.probability }}</li>
{% endfor %}
				</ul>
{% else %}
				<p>No receivable accounts</p>
{% endif %}
			</section>
			<section>
				<hgroup>
					<h1>Probabilities</h1>
				</hgroup>
{% if probability %}
				<table>
					<thead>
						<tr>
							<th>Value</th>
							<th>Probability</th>
						</tr>
					</thead>
					<tbody>
{% for combination in probability.combinations %}
						<tr>
							<td>{{ combination.value }}</td>
							<td>{{ combination.probabilityAccumulated }} </td>
						</tr>
{% endfor %}
					</tbody>
				</table>
{% else %}
				<p>No probabilities</p>
{% endif %}
			</section>
		</article>
	</body>
</html>

